<div class="login_register_box">

  <form enctype="multipart/form-data" action="/photos" method="post">
    <input type="file" name="Image">
    <input type="submit" value="upload">
  </form>

  <% @photos.each do |photo| %>
    <img src=<%= photo.tempfile %>
         id="image">

    <form method="post" action="/photos/<%= photo.id %>">
      <input type="hidden" name="_method" value="delete"/>
      <input type="submit" value="Delete Picture"/>
    </form>

    <form action="/photos/<%= photo.id %>" method="get">
      <input type="submit" value="Select">
    </form>

  <% end %>

</div>