<div class="login_register_box">
  <div class="register">
      <form action="/register/new" method="POST">
        <label for=username>Username</label>
        <input type=text id=username name=username required>

        <label for=password>Password</label>
        <input type=password id=password name=password required>

        <label for=repeat_password>Repeat Password</label>
        <input type=password id=repeat_password name=repeat_password required>

        <input type=submit value=Register/Login>
      </form>
  </div>
</div>

<a href="/">back</a>