development:
  adapter: postgresql
  encoding: unicode
  database: frameit
  host: localhost
  username:gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: frameit_test
  pool: 5
  host: localhost
  username:gschool
  password: